@model EntityLayer.Dto.AdminLogInDto
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Admin Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Admin Mail Adresi")
        @Html.TextBoxFor(x => x.AdminMail, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Şifreyi Giriniz")
        @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Rolü Seçiniz")
        @Html.DropDownListFor(x=>x.AdminRoleId,(List<SelectListItem>)ViewBag.valueAdminRole, new {@class="form-control"})
        @*@Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })*@
        @*@Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })*@
        <br />
        @Html.Label("Durumu Seçiniz")
        @Html.DropDownListFor(x=>x.AdminStatusId,(List<SelectListItem>)ViewBag.valueAdminStatus, new {@class="form-control"})
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}




@*<div class="row justify-content-left">
                @using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                        <input type="text" class="form-control" name="AdminUserName" placeholder="Kullanıcı adınızı giriniz" required>
                    </div>
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-bookmark"></span></div>
                        <input type="text" class="form-control" name="AdminMail" placeholder="Mail adresinizi giriniz" required>
                    </div>
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                        <input type="password" class="form-control" name="AdminPassword" placeholder="Şifrenizi giriniz" required>
                    </div>
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                        <input type="text" class="form-control" name="AdminRole" placeholder="Rolü giriniz" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn form-control btn-primary rounded submit px-3">Kayıt Ol</button>
                    </div>
                }
                <div class="w-100 text-center mt-4 text">
                    <a href="/AdminCategory/Index" style="color: white"><b>Ana sayfaya Dön</b></a>
                </div>

    </div>*@
