@model EntityLayer.Concrete.Category
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName)
        @Html.ValidationMessageFor(x=>x.CategoryName)
        <br /><br />
        @Html.Label("Açıklamayı Yazınız")
        @Html.TextBoxFor(x => x.CategoryDescription)
        @Html.ValidationMessageFor(x=>x.CategoryDescription) 
        <br /><br />
        <button>Kaydet</button>
    </div>
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.6.0.js"></script>

<script>
    $('#buton').click(function () {
        swal({
            title: "Tebrikler!",
            text: "Kategori başarılı bir şekilde eklendi.",
            buttons: false,
            icon: "info",
            timer:10000
        }).then(function () {
            window.location.reload(true);
            tr.hide();
        });
    });
</script>
@*<form class="form-group" method="post">
        <input type="text" placeholder="Kategori Adı" name="CategoryName" class="form-control" />
        <br />
        <input type="text" placeholder="Açıklama" name="CategoryDescription" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>*@