@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Message>
@*@model List<Message>*@
@{ ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

@{ string read = ""; }
@{ string important = ""; }

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"><h1><b>Mesaj Sayfası</b></h1></div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
<section class="content">
    <div class="row">
        @Html.Action("PartialMessageMenu", "Contact")

        <div class="col-md-9">
            <div class="card card-primary card-outline">

                <!--Mesaj Bölümü Baslik Alani-->
                <div class="card-header">
                    <h3 class="card-title"><b>Kişisel Gelen Kutusu</b></h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Mail Kutusunda Ara">
                            <div class="input-group-append">
                                <div class="btn btn-primary"><i class="fas fa-search"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Action("PartialMessageList", "Contact")

                <!--Mesaj Bölümü Icerik Alani-->
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        @foreach (var item in Model)
                        {
                            read = (!item.IsRead) ? "warning" : "capitalize";
                            important = (!item.IsImportant) ? "body" : "warning";
                            <tr>
                                <td>
                                    <div class="icheck-primary">
                                        <input type="checkbox" value="" id="check1">
                                        <label for="check1"></label>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-default btn-sm" href="/Message/IsRead/@item.MessageId"><i class="fas fa-mail-bulk text-@read"></i></a>
                                </td>
                                <td class="mailbox-star"><a href="/Message/IsImportant/@item.MessageId"><i class="fas fa-star text-@important"></i></a></td>

                                <td class="mailbox-name"><a href="/Message/GetInboxMessageDetails/@item.MessageId">@item.SenderMail</a></td>
                                <td class="mailbox-subject">
                                    @if (item.MessageContent.Length >= 50 )
                                    {
                                        @Html.Raw(item.MessageContent.Substring(0,50))
                                        @*<b>@item.Subject</b><a> - </a> @item.MessageContent*@
                                    }
                                    else if (item.MessageContent.Length < 50)
                                    {
                                        <b>@item.Subject</b><a> - </a>@Html.Raw(item.MessageContent)<a>...</a>
                                        @*<b>@item.Subject</b><a> - </a>@item.MessageContent.Substring(0, 30) <a>...</a>*@
                                    }
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date"><b>@(((DateTime) item.MessageDate).ToString("dd-MMM-yyyy"))</b></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Mesaj Bölümü Alt Bölüm -->
            @Html.Action("PartialMessageListFooter", "Contact")

        </div>
    </div>
</section>
@section Editor
{
    <!-- summernote -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">*@
    <link href="~/Themes/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Summernote -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>*@
    <script src="~/Themes/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#compose-textarea').summernote()
        })
    </script>
}
</body>
</html>

@* !!! ÖNEMLI NOT !!!!
    <link rel="stylesheet" href="~/Content/PagedList.css" /> @*Sayfalama icin ilgili paketler kurulduktan sonra Content icerisine gelen css dosyasinin yolu Layout sayfalarina eklenir.
    Bu islemi yaparsak asagida yazilacak komuta ihtiyac kalmaz.
*@

@* Asagidaki alan sayfalama isleminde sayfalarinda altinda sayfa numarasi gecislerini cözmektedir. *@

@*@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllHeadings", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        {"page-link"}
    })*@

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Inbox", new { page }))