@model EntityLayer.Concrete.Message
@{ ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"><h1><b>Yeni Mesaj Sayfası</b></h1></div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Action("PartialMessageMenu", "Contact")

                <div class="col-md-9">
                    @using (Html.BeginForm("NewMessage", "Message", FormMethod.Post))
                    {<!--Mesaj Bölümü-->
                                        <div class="card card-primary card-outline">
                                            <!--Mesaj Bölümü - Baslik Alani-->
                                            <div class="card-header">
                                                <h3 class="card-title"><b>Yeni Mesaj Oluştur</b></h3>
                                            </div>

                                            <!-- Mesaj Bölümü - Icerik Alani-->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    @Html.Label("Alıcı Adı")
                                                    @Html.TextBoxFor(x => x.ReceiverMail, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.ReceiverMail, "", new { @class = "text-danger" })
                                                    @*@Html.TextBoxFor(x => x.ReceiverMail, new { @class = "form-control", placeholder = "Alıcı Adı:" })
                                                        @Html.ValidationMessageFor(x => x.ReceiverMail, "", new { @class = "text-danger" })*@
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Konu")
                                                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
                                                    @*@Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Konu:" })
                                                        @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })*@
                                                </div>

                                                <!-- Icerik Alani - Icerik-->
                                                <div class="form-group">
                                                    @Html.Label("Mesajınız")
                                                    <textarea id="compose-textarea" name="MessageContent" class="form-control" style="height: 300px"></textarea>
                                                    @*@Html.Label("Mesajınız :")
                                                        @Html.TextAreaFor(m => m.MessageContent, new { @class = "form-control", id = "compose-textarea", placeholder = "Alıcı Adı:" })*@
                                                    @Html.ValidationMessageFor(m => m.MessageContent, "", new { @class = "text-danger" })
                                                </div>

                                                <!-- Icerik Alani - Dosya Islemleri-->
                                                <div class="form-group">
                                                    <div class="btn btn-default btn-file">
                                                        <i class="fas fa-paperclip"></i> Dosya Ekle<input type="file" name="attachment">
                                                    </div>
                                                    <p class="help-block">Max. 32MB</p>
                                                </div>
                                            </div>

                                            @Html.Action("PartialMessageListFooterButton", "Contact")

                                        </div>}
                </div>
            </div>
        </div>
    </section>
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/Themes/jquery/jquery.min.js"></script>
</body>
</html>

@section Editor
{
    <!-- summernote -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">*@
    <link href="~/Themes/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Summernote -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>*@
    <script src="~/Themes/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#compose-textarea').summernote()
        })
    </script>
}