@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Ekleme</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.valueCategory,new {@class = "form-control"})
        <br />
        @Html.Label("Yazar")
        @Html.DropDownListFor(x=>x.WriterId,(List<SelectListItem>)ViewBag.valueWriter,new {@class = "form-control"})
        <br />
        @Html.Label("Durumu")
        @Html.DropDownListFor(x=>x.StatusId,(List<SelectListItem>)ViewBag.valueHeadingStatus, new {@class="form-control"})
        <br/>
        <button class="btn btn-info">Başlığı Oluştur</button>
    </div>
}


