@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    
}
<h2>Başlık Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık ID")
        @Html.TextBoxFor(x=>x.HeadingId, new {@class="form-control"})
        <br/>
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x=>x.HeadingName, new {@class="form-control"})
        <br/>
        @Html.Label("Tarih")
        @Html.TextBoxFor(x=>x.HeadingDate, new {@class="form-control"})
        <br/>
        @Html.Label("Yazar")
        @Html.TextBoxFor(x=>x.WriterId, new {@class="form-control"})
        <br/>
        @Html.Label("Kategori")
        @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.valueCategory,new {@class="form-control"})
        <br/>
        @Html.Label("Durumu")
        @Html.DropDownListFor(x=>x.StatusId,(List<SelectListItem>)ViewBag.valueHeadingStatus, new {@class="form-control"})
        <br/>
        <button class="btn btn-success">Güncelle</button>
    </div>
   
}
