@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yazar Ekleme</h2>
<br/>
@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yazar adı")
        @Html.TextBoxFor(x=> x.WriterName, new {@class ="form-control"})
        @Html.ValidationMessageFor(x=>x.WriterName)
        <br/>
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(x=> x.WriterSurName, new {@class ="form-control"})
        @Html.ValidationMessageFor(x=>x.WriterSurName)
        <br/>
        @Html.Label("Yazar Mail")
        @Html.TextBoxFor(x=> x.WriterMail, new {@class ="form-control"})
        @Html.ValidationMessageFor(x=>x.WriterMail)
        <br/>
        @*@Html.Label("Yazar Şifre")*@
        @Html.HiddenFor(x=> x.WriterPasswordSalt, new {@class ="form-control"})
        @*@Html.ValidationMessageFor(x=>x.WriterPasswordSalt)*@
        <br/>
        @Html.Label("Yazar Görsel Linki")
        @Html.TextBoxFor(x=> x.WriterImage, new {@class ="form-control"})
        @Html.ValidationMessageFor(x=>x.WriterImage)
        <br/>
        @Html.Label("Yazar Ünvan")
        @Html.TextBoxFor(x=> x.WriterTitle, new {@class ="form-control"})
        @Html.ValidationMessageFor(x=>x.WriterTitle)
        <br/>
        @Html.Label("Yazar Hakkında")
        @Html.TextBoxFor(x=> x.WriterAbout, new {@class ="form-control"})
        @Html.ValidationMessageFor(x=>x.WriterAbout)
        <br/>
        <button class="btn btn-info">Yazarı Ekle</button>
    </div>
}

