@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<br />

<h2>İstatistikler</h2>

@*<h1>Mail : @ViewBag.a</h1>*@

<html>
<head>
</head>
<br />
<body>
<div class="row">
        <div class="col-md-3">
            <div class="small-box bg-success">
                <div class="inner" style="text-align: center">
                    <br />
                    <h3><sup style="font-size: 50px">@ViewBag.totalNumberOfCategories</sup></h3>
                    <sup style="font-size: 20px">Toplam Kategori Sayısı</sup>
                </div>  <a href="#" class="small-box-footer"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-red">
                <div class="inner" style="text-align: center">
                    <br />
                    <h3><sup style="font-size: 50px">@ViewBag.softwareCategoryTitleNumber</sup></h3>
                    <sup style="font-size: 20px">Yazılım Kategorisi Başlık Sayısı</sup>
                </div><a href="#" class="small-box-footer"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-purple">
                <div class="inner" style="text-align: center">
                    <br />
                    <h3><sup style="font-size: 50px">@ViewBag.writerNameSortByA</sup></h3>
                    <sup style="font-size: 20px">Yazar adında a harfi geçen yazar sayısı</sup>
                </div><a href="#" class="small-box-footer"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-blue">
                <div class="inner" style="text-align: center">
                    <br />
                    <h3><sup style="font-size: 40px">@ViewBag.categoryNameWithTheMostTitles</sup></h3>
                    <sup style="font-size: 20px">En fazla başlığa sahip kategori adı</sup>
                </div> <a href="#" class="small-box-footer"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-orange">
                <div class="inner" style="text-align: center">
                    <br />
                    <h3><sup style="font-size: 50px">@ViewBag.activeCategories</sup></h3>
                    <sup style="font-size: 20px">Kategori tablosunda durumu true olanlar</sup>
                </div><a href="#" class="small-box-footer"></a>
            </div>
        </div>
    </div>
</body>
</html>

