@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.HeadingId)
        @Html.HiddenFor(x => x.HeadingDate)
        @Html.HiddenFor(x => x.WriterId)
        <br />@Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.valueCategory, new { @class = "form-control" })
        <br />
        @Html.Label("Durumu")
        @Html.DropDownListFor(x => x.StatusId, (List<SelectListItem>)ViewBag.valueWriterStatus, new { @class = "form-control" })
        <br />
        @*<label>Durumu : </label>
        @Html.DropDownListFor(x => x.Status.StatusName, new SelectListItem[]{
            new SelectListItem() {Text = " Aktif ", Value="true"},
            new SelectListItem() {Text = " Pasif ", Value="false"}})
        <br />*@
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}