@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Heading>
@*@model List<Heading>*@

@{
    ViewBag.Title = "MyHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{ string color = "";}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlık İşlemleri</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 15%">
                                Oluşturan Yazar
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryName == "Tiyatro")
                            {
                                color = "badge badge-warning";
                            }
                            if (item.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-success";
                            }
                            if (item.Category.CategoryName == "Yazılım")
                            {
                                color = "badge badge-info";
                            }
                            if (item.Category.CategoryName == "Gezi")
                            {
                                color = "badge badge-secondary";
                            }
                            if (item.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-warning";
                            }
                            if (item.Category.CategoryName == "Film")
                            {
                                color = "badge badge-dark";
                            }
                            if (item.Category.CategoryName == "Dizi")
                            {
                                color = "badge badge-primary";
                            }
                            if (item.Category.CategoryName == "Sosyal Medya")
                            {
                                color = "badge badge-success";
                            }
                            if (item.Category.CategoryName == "Donanım")
                            {
                                color = "badge badge-info";
                            }
                            if (item.Category.CategoryName == "Network ve Güvenlik")
                            {
                                color = "badge badge-dark";
                            }
                            if (item.Category.CategoryName == "Teknoloji")
                            {
                                color = "badge badge-warning";
                            }
                            if (item.Category.CategoryName == "Sinema")
                            {
                                color = "badge badge-secondary";
                            }
                            <tr>
                                <td>
                                    @item.HeadingId
                                </td>
                                <td>
                                    <a>
                                        @item.HeadingName
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)item.HeadingDate).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src=@item.Writer.WriterImage>
                                        </li>
                                    </ul>
                                </td>
                                <td class="project-state">
                                    <span class="@color">@item.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingId">
                                        <i class="fas fa-folder">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/WriterPanel/EditHeading/@item.HeadingId">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn" href="/WriterPanel/DeleteHeading/@item.HeadingId">
                                        <i class="fas fa-trash">
                                        </i>
                                        @{ string status = "";
                                            string statusColor = "";

                                            switch (item.StatusId==2)
                                            {
                                                case true:
                                                    statusColor = "badge badge-danger";
                                                    status = "Aktif";
                                                    break;
                                                case false:
                                                    statusColor = "badge badge-success";
                                                    status = "Pasif";
                                                    break;
                                            }
                                            <span class="@statusColor">@status</span> }
                                    </a>
                                </td>
                            </tr>
}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</body>
</html>
<a href="/WriterPanel/NewHeading/" class="btn btn-primary">Yeni  Başlık Girişi</a>



@* !!! ÖNEMLI NOT !!!!
    <link rel="stylesheet" href="~/Content/PagedList.css" /> @*Sayfalama icin ilgili paketler kurulduktan sonra Content icerisine gelen css dosyasinin yolu Layout sayfalarina eklenir.
    Bu islemi yaparsak asagida yazilacak komuta ihtiyac kalmaz.
*@

@* Asagidaki alan sayfalama isleminde sayfalarinda altinda sayfa numarasi gecislerini cözmektedir. *@

@*@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllHeadings", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        {"page-link"}
    })*@
@Html.PagedListPager((IPagedList)Model, page => Url.Action("MyHeading", new { page }))



