@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "WriterProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h2>Profilinizi Düzenleyin</h2>

@using (Html.BeginForm("WriterProfile", "WriterPanel", FormMethod.Post))
{
<div class="form-group">
    @*@Html.Label("Yazar ID")*@
    @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })

    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterName, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterSurName, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterMail, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Kullanıcı Adı")
    @Html.TextBoxFor(x => x.WriterUserName, new { @class = "form-control" })
    @Html.HiddenFor(x => x.WriterPasswordHash, new { @class = "form-control" })
    @Html.HiddenFor(x => x.WriterPasswordSalt, new { @class = "form-control" })
    @*@Html.Label("Yazar Şifre")*@ @*Bu kısım şifre hash'li olduğu için hata veriyor.'*@
    @*@Html.PasswordFor(x => x.WriterPasswordHash, new { @class = "form-control" })*@
    @*@Html.ValidationMessageFor(x => x.WriterPasswordHash)*@
    @*<br />
        <button class="btn btn-danger" data-toggle="modal" data-target="#Modal1">Yeni Şifre Oluştur</button>*@
    @*@Html.Action("WriterPasswordChange", "WriterPanel")*@
    <br />

    @Html.Label("Yazar Görsel Linki")
    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterImage)
    <br />
    @Html.Label("Yazar Ünvan")
    @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterTitle)
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterAbout)
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}

